<!DOCTYPE html>
<html>
  <head>
    <title>Urtak Takeover!</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/app.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="main" class="container">
      <form action="/" method="POST">
        <fieldset>
          <legend>Urtak takes over</legend>
          <label>Url</label>
          <input
            name="url"
            class="input-block-level"
            type="text"
            placeholder="e.g. http://example.com"
            value="<%= h params[:url] %>"
          />
          <label>Selector</label>
          <input
            name="selector"
            class="input-block-level"
            type="text"
            placeholder="e.g. #some-div"
            value="<%= h params[:selector] %>"
          />
          <label class="radio">
            <input
              type="radio"
              name="selector_type"
              value="append"
              checked
            />
            Append
          </label>
          <label class="radio">
            <input
              type="radio"
              name="selector_type"
              value="replace"
            />
            Replace
          </label>
          <label>Urtak</label>
          <input
            name="urtak"
            class="input-block-level"
            type="text"
            placeholder="e.g. &lt;a href=&quot;https://urtak.com/clr/sj496wjjwmtizr9ydiitkw7tnanx2fft&quot;&gt;Sheryl and Lance&lt;/a&gt;"
            value="<%= h params[:urtak] %>"
          />
          <label class="checkbox">
            <input
              type="checkbox"
              name="ad_rotation"
            />
            Ad rotation?
          </label>
          <label>Custom ad images</label>
          <textarea
            name="custom_ads"
            class="input-block-level"
            rows="3"
          ></textarea>
          <button type="submit" class="btn">Make it so!</button>
        </fieldset>
      </form>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
